/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
     /**-fx-background-color: red;*/
    -fx-background: #0099FF;
    /*-fx-background: radial-gradient(center 50% 50%, radius 140%, rgba(77, 184, 255,70) 5%,rgba(0,153,255,100) 35%);*/
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #2447B2;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

#welcome-text {
	-fx-fill:  #FFF;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #3366FF;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}